In [1]:
import pandas as pd

In [2]:
abj = pd.read_csv("Fct_transactions.csv")

In [3]:
abj

,TransactionID,TransactionStartDateTime,TransactionEndDateTime,CardholderID,LocationID,TransactionTypeID,TransactionAmount
0,FC-2022-1000000001,01/01/2022 05:00,01/01/2022 05:01,FC-001-1015,FC-001,3,0
1,FC-2022-1000000002,01/01/2022 05:14,01/01/2022 05:16,FC-001-1001,FC-001,3,0
2,FC-2022-1000000003,01/01/2022 05:14,01/01/2022 05:17,FC-002-1045,FC-002,2,10000
3,FC-2022-1000000004,01/01/2022 06:26,01/01/2022 06:31,FC-004-1013,FC-004,1,50000
4,FC-2022-1000000005,01/01/2022 06:27,01/01/2022 06:30,FC-003-1023,FC-003,2,10000
...,...,...,...,...,...,...,...
159647,FC-2022-1000159648,31/12/2022 18:55,31/12/2022 18:59,FC-004-1003,FC-004,2,20000
159648,FC-2022-1000159649,31/12/2022 18:55,31/12/2022 18:59,FC-004-1003,FC-004,1,50000
159649,FC-2022-1000159650,31/12/2022 18:58,31/12/2022 19:01,FC-001-1004,FC-001,1,6000
159650,FC-2022-1000159651,31/12/2022 18:58,31/12/2022 19:02,FC-005-1039,FC-005,1,10000
159651,FC-2022-1000159652,31/12/2022 18:59,31/12/2022 19:03,FC-002-1040,FC-002,4,10000

In [9]:
abj.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159652 entries, 0 to 159651
Data columns (total 7 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   TransactionID             159652 non-null  object
 1   TransactionStartDateTime  159652 non-null  datetime64[ns]
 2   TransactionEndDateTime    159652 non-null  datetime64[ns]
 3   CardholderID              159652 non-null  object
 4   LocationID                159652 non-null  object
 5   TransactionTypeID         159652 non-null  int64
 6   TransactionAmount         159652 non-null  int64
dtypes: datetime64[ns](2), int64(2), object(3)
memory usage: 8.5+ MB

In [6]:
abj.shape

(159652, 7)

In [7]:
abj['TransactionStartDateTime'] = pd.to_datetime(abj['TransactionStartDateTime'])

In [8]:
abj['TransactionEndDateTime'] = pd.to_datetime(abj['TransactionEndDateTime'])

In [14]:
abj.to_csv("fct_transaction.csv")

In [10]:
fct_transaction = abj.dropna()

In [13]:
fct_transaction.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159652 entries, 0 to 159651
Data columns (total 7 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   TransactionID             159652 non-null  object
 1   TransactionStartDateTime  159652 non-null  datetime64[ns]
 2   TransactionEndDateTime    159652 non-null  datetime64[ns]
 3   CardholderID              159652 non-null  object
 4   LocationID                159652 non-null  object
 5   TransactionTypeID         159652 non-null  int64
 6   TransactionAmount         159652 non-null  int64
dtypes: datetime64[ns](2), int64(2), object(3)
memory usage: 8.5+ MB

In [15]:
eng = pd.read_csv("Enugu_transactions.csv")

In [19]:
eng.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 350251 entries, 0 to 350250
Data columns (total 7 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   TransactionID             350251 non-null  object
 1   TransactionStartDateTime  350251 non-null  datetime64[ns]
 2   TransactionEndDateTime    350251 non-null  datetime64[ns]
 3   CardholderID              350251 non-null  object
 4   LocationID                350251 non-null  object
 5   TransactionTypeID         350251 non-null  int64
 6   TransactionAmount         350251 non-null  int64
dtypes: datetime64[ns](2), int64(2), object(3)
memory usage: 18.7+ MB

In [17]:
eng['TransactionStartDateTime'] = pd.to_datetime(eng['TransactionStartDateTime'])

In [18]:
eng['TransactionEndDateTime'] = pd.to_datetime(eng['TransactionEndDateTime'])

In [20]:
enugu_transaction = eng.dropna()

In [21]:
enugu_transaction = eng.dropna()

In [22]:
riv = pd.read_csv("Rivers_transactions.csv")

In [26]:
riv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 420098 entries, 0 to 420097
Data columns (total 7 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   TransactionID             420098 non-null  object
 1   TransactionStartDateTime  420098 non-null  datetime64[ns]
 2   TransactionEndDateTime    420098 non-null  datetime64[ns]
 3   CardholderID              420098 non-null  object
 4   LocationID                420098 non-null  object
 5   TransactionTypeID         420098 non-null  int64
 6   TransactionAmount         420098 non-null  int64
dtypes: datetime64[ns](2), int64(2), object(3)
memory usage: 22.4+ MB

In [24]:
riv['TransactionStartDateTime'] = pd.to_datetime(riv['TransactionStartDateTime'])

In [25]:
riv['TransactionEndDateTime'] = pd.to_datetime(riv['TransactionEndDateTime'])

In [28]:
rivers_transaction = riv.dropna()

In [29]:
riv.to_csv("rivers_transaction.csv")

In [30]:
kn = pd.read_csv("Kano_transactions.csv")

In [31]:
kn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458764 entries, 0 to 458763
Data columns (total 7 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   TransactionID             458764 non-null  object
 1   TransactionStartDateTime  458764 non-null  object
 2   TransactionEndDateTime    458764 non-null  object
 3   CardholderID              458764 non-null  object
 4   LocationID                458764 non-null  object
 5   TransactionTypeID         458764 non-null  int64
 6   TransactionAmount         458764 non-null  int64
dtypes: int64(2), object(5)
memory usage: 24.5+ MB

In [32]:
kn['TransactionStartDateTime'] = pd.to_datetime(kn['TransactionStartDateTime'])

In [33]:
kn['TransactionEndDateTime'] = pd.to_datetime(kn['TransactionEndDateTime'])

In [34]:
kano_transaction = kn.dropna()

In [35]:
kn.to_csv("kano_transaction.csv")

In [36]:
lag = pd.read_csv("Lagos_transactions.csv")

In [37]:
lag.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 755073 entries, 0 to 755072
Data columns (total 7 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   TransactionID             755073 non-null  object
 1   TransactionStartDateTime  755073 non-null  object
 2   TransactionEndDateTime    755073 non-null  object
 3   CardholderID              755073 non-null  object
 4   LocationID                755073 non-null  object
 5   TransactionTypeID         755073 non-null  int64
 6   TransactionAmount         755073 non-null  int64
dtypes: int64(2), object(5)
memory usage: 40.3+ MB

In [38]:
lag['TransactionStartDateTime'] = pd.to_datetime(lag['TransactionStartDateTime'])

In [39]:
lag['TransactionEndDateTime'] = pd.to_datetime(lag['TransactionEndDateTime'])

In [40]:
lagos_transaction = lag.dropna()

In [41]:
lag.to_csv("lagos_transaction.csv")